*Siemens-Sinumerik840C-Maschinensteuertafel-Adaptor-backups/
*Siemens-Sinumerik840C-Maschinensteuertafel-Adaptor.blend1
~*
*#auto_saved_files#
*fp-info-cache
production/backups*
1_hardware/datasheets
1_hardware/_autosave*
2_firmware_STM32/Debug*
build*